export CA_STATS_USER='{{ ca_stats_user }}'
export CA_STATS_PASSWD='{{ ca_stats_passwd }}'
export CA_STATS_JSON_URL='{{ ca_stats_json_url }}'
export EPIPEARL_USER='{{ epipearl_user }}'
export EPIPEARL_PASSWD='{{ epipearl_passwd }}'
export LDAP_HOST='{{ ldap_host }}'
export LDAP_BASE_SEARCH='{{ ldap_base_search }}'
export LDAP_BIND_DN='{{ ldap_bind_dn }}'
export LDAP_BIND_PASSWD='{{ ldap_bind_passwd }}'
export LOG_CONFIG='/home/{{ web_username }}/sites/{{ webapp_name }}/logging.yaml'
